body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div.content {
    /* margin-left: 20%; */
    /* padding: 1px 16px; */
    height: 100%;
}

div.underline {
    border-bottom: 2px solid black;
    width: 100%;
    display: block;
}

.content-card {
    background-color: rgba(0,0,0, 0.0); /* Black w/opacity/see-through */
    height: 100vh;
    width: 100%;
}

.title-card {
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0, 0, 0, 0.4);
    /* color: white; */
    font-weight: bold;
    
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.title-card h1, .title-card h2, .title-card  h3 {
    color: #ffffff;
    margin: auto;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    display: block;
    background-image: url("/landing-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100%;
  
    /* -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); */
}

span.links {
    display: inline;
}
span.links i {
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

#about-card {
    position: absolute;
    display: block;
    background-color: lightgray;
    color: black;
    /* padding: 10px; */
    width: 100%;
    z-index: 2;
    height: 100vh;
}

#about-card h1 {
    color: red;
}

#about-card div.row {
    opacity: 0;
}

.progress {
    margin: 5px;
    font-size: 1em;
    height: 30px;
    width: 100%;
}

.progress-bar {
    padding-left: 5px;
    text-align: left;
}

img.profile-photo {
    margin: 3px;
}

.skillsrow {
    display: grid;
    grid-template-columns: repeat(4, [col] 25% ) ;
    grid-template-rows: repeat(1, [row] auto );
}

.skillsrow h5 {
    padding: 0px;
    margin: 0px;
}

.languages {
    grid-column: col / span 1;
    grid-row: row 1;
    text-align: center;
}

.skills {
    grid-column: col 2 / span 1;
    grid-row: row 1;
    text-align: center;
}


.environments {
    grid-column: col 3 / span 1;
    grid-row: row 1;
    text-align: center;
}

.areasOfInterest {
    grid-column: col 4 / span 1;
    grid-row: row 1;
    text-align: center;
}


.wrapper {
    /* width: 100%; */
    z-index: 3;
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(6, [row] auto );
    background-color: #fff;
    color: #fff;
    /* padding: 10px; */
} 

.wrapper div {
    z-index: 4;
}

.box {
    width: 100%;
    background-color: #fff;
    color: #fff;
    /* border-radius: 5px; */
    padding: 20px;
    font-size: 150%;
    z-index: 3;
}

.a {
    grid-column: col / span 5;
    grid-row: row;
}
/* .b {
    grid-column: col 2 / span 4;
    grid-row: row;
} */
.c {
    grid-column: col;
    grid-row: row 2;
}
.d {
    grid-column: col 2 / span 4;
    grid-row: row 2;
}

.e {
    grid-column: col 1 / span 5;
    grid-row: row 3;
}

/* .f {
    grid-column: col 2 / span 4;
    grid-row: row 3;
} */

.g {
    grid-column: col / span 5;
    grid-row: row 4;
}

/* .h {
    grid-column: col 2 / span 4;
    grid-row: row 4;
} */

/* Default Text Colors */
h1, h2, h3, h4, h5, h6 {
    color: #000;
}

.line1, .line2, .line3, .line4 {
	stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: dash 50s linear forwards;
} 

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} 
/* .anim, .anim svg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .anim path {
    stroke-width: 2;
  } */